@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Kanit:wght@400;600;700&display=swap");

:root {
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #e6e4da;
  color: #0c1618;
}

body {
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
